
h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #4d0000;
}

#title_div {
    display: flex;
    flex: 3;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5%;
}

#churn_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-right: 10%;
}

#churn_filter>h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #4d0000;
}

#kpi_div {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 91.5%;
    padding-left: 3%;
    
}
#kpi {
    display: flex;
    flex-direction: row;
    width: 22%;
    height: 100%;
    border: 3px solid #9d9c85;
    border-radius: 8px;
    background-color: #ffffff !important;
    margin-left: 1%;
    padding: 0;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}
#kpi_info{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#kpi_logo{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kpi {
    width: 25%;
    height: 100%;
    border: 3px solid black;
    
    border-radius: 8px;
    background-color: #e2e1c0 !important;
    margin-left: 1%;
    padding: 0;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
/* 
#kpi_info > h3 {
    margin: 0;
    padding: 0;
    width: 50%;
    color: #800000;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#kpi > h2{
    margin: 0;
    padding: 0;
    width: 50%;
    color: #400000;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */


#graph_div {

    margin-top: 2%;
    display: flex;

    flex-direction: row;
    height: 28vh;
    width: 98%;
    padding-left: 3%;

}

#pigraph,
#graph {
    display: flex;
    flex-direction: column;;
    width: 22%;
    height: 100%;
    border: 3px solid #9d9c85;
    border-radius: 8px;
    background-color: #ffffff !important;
    margin-left: 1%;
    padding: 0;
    overflow:hidden;
    align-items: center;
    justify-content: center;
}

#graph {
    margin-left: 1%;
    width: 33.7%
}


#GenderPieChart,#MembershipCategoryBarGraph,#FeedbackBarGraph,#PrefferedOfferTypePieChart,#ChurnRiskScoreBarGraph,#PointsInWalletHistogram{
    width: 90%;
    height: 90%;
}
#GenderPieChart{
    width: 100% !important;
    height: 100% !important;
}
#PrefferedOfferTypePieChart{
    width: 100% !important;
    height: 100% !important;
}


#pigraph > p{
    margin: 0px;
    color: #800000;
    font-weight: bold;
    margin-left: 5%;
}

#graph > p{
    margin: 0px;
    color: #800000;
    font-weight: bold;
    margin-left: 5%;
}


#GenderPieChart{
    width: auto;
    height: 90%;
}


#GenderPieChart{
    width: auto;
    height: 90%;
}


#GenderPieChart{
    width: auto;
    height: 90%;
}


#GenderPieChart{
    width: auto;
    height: 90%;
}


#GenderPieChart{
    width: auto;
    height: 90%;
}


