.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header>h1 {
  margin: 0;
  width: 90%;
  font-size: 1.5 rem;
  color: #800000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  background-color: #ffffff;
  height: 10vh;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 4%;
  height: auto;
}

#mslogo {
  float: left;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 5%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#Homelogo,
#Analysislogo {
  width: 60%;
  height: auto;
  margin-top: 100%;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  flex: 1;
  width: 95%;
  background-color: #d8cbcb;
  padding: 1%;

}

h2 {
  margin: 0%;
}