.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header>h1 {
  margin: 0;
  width: 90%;
  font-size: 1.5 rem;
}

header {
  background-color: #333;
  height: 10vh;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 4%;
  height: auto;
  margin-right: 10px;
}

#mslogo {
  float: left;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
}